body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #61dafb;
}

.transition-group {
  display: flex;
  flex-direction: column;
}

/* .fade-enter, 
.fade-enter-active, 
.fade-enter-done, 
.fade-exit, 
.fade-exit-active, 
.fade-exit-done, 
.fade-appear, .fade-appear-active {} */

.container--fade-enter {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.container--fade-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

/* 
.container--fade-enter-done {} 
.container--fade-exit {}
*/

.container--fade-exit-active {
  transition: all 300ms ease-in-out;
  opacity: 0;
}

.container--fade-exit-done {
  position: absolute;
  display: none;
}

.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgb(150, 150, 150);
  opacity: .25;  
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #000;
  background: #61dafb;
  width: 6em;
  height: 2em;
  border-radius: 1em;
  line-height: 2em;
  text-align: center;

  margin-left: -3em;
  margin-top: -1em;
}